html{
    --tdHeightFixed: 3em;
    --tdWidthFixed: 1.5em;
    --lightGrey: #a3a3a3;
}


.textCenter{
    text-align: center;
    padding: .25em;
}

.flexboxCalendar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.calendarHeading{
    padding: 0;
    font-size: 1.5em;
}

.today{
    background-color: var(--lightGrey);
    border: 2px solid var(--lightGrey);
}

.beforeToday {
    color: var(--lightGrey);
}

.cellDesign{
    /* min-height: 2em;
    min-width: 2em;
    max-height: 2em;
    max-width: 2em; */

    min-height: var(--tdHeightFixed);
    min-width: var(--tdWidthFixed);
    max-height: var(--tdHeightFixed);
    max-width: var(--tdWidthFixed);
}
