.table{
    border: 2.5px solid black;
}

.textCenter{
    text-align: center;
    padding: .25em;
}

.flexboxCalendar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}