html{
    --tdHeightFixed: 40px;
    --tdWidthFixed: 25px;
    --lightGrey: #a3a3a3;
    --todayColor: #434ff694;
    --hoverColor: #747dff;
    --fontOne: 'Heebo', sans-serif;
    --fontTwo: 'Noto Sans HK', sans-serif;
    --fontThree: 'Poppins', sans-serif;
    --fontFour: 'Source Sans Pro', sans-serif;
    --fontFive: 'Titillium Web', sans-serif;
    --fontSix: 'Ubuntu', sans-serif;

    font-family: var(--fontOne);
}


.textCenter{
    text-align: center;
    padding: .5em;
}

.tableHead{
    padding: .5em;
    color: var(--lightGrey);
    font-weight: bold;
}

.flexboxCalendar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.calendarHeading{
    padding: 0;
    padding-top: .5em;
    font-size: 1.5em;
    margin: 0;
}

.today{
    background-color: var(--todayColor);
    border: .5px solid var(--todayColor);
    border-radius: 50%;
}

.beforeToday {
    color: var(--lightGrey);
}

.cellDesign{
    /* min-height: 2em;
    min-width: 2em;
    max-height: 2em;
    max-width: 2em; */

    min-height: var(--tdHeightFixed);
    min-width: var(--tdWidthFixed);
    max-height: var(--tdHeightFixed);
    max-width: var(--tdWidthFixed);
}

.calendarDiv{
    max-width: 30em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1.5em;
    margin-top: 2.5em;
}

.dates{
    font-weight: none;
}
/* interaction */
/*calendar*/
.dates:hover{
    color: var(--hoverColor);
    font-weight: bold;
    background-color: rgba(61, 61, 61, 0.10);
    border: .01px solid rgba(61, 61, 61, 0.10);
    border-radius: 2em;
}

.calendarDiv:hover{
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.50);
}